---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Promenade%20Lower%20%E2%80%93%2079th%20-%2095th%20Streets,%20Manhattan,%20NY&key=AIzaSyBsVKsp640WcCA0uL9kw1jN6HOb_NIuOEs&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "West 95th Street",
                       "short_name" : "W 95th St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Manhattan",
                       "short_name" : "Manhattan",
                       "types" : [ "sublocality_level_1", "sublocality", "political" ]
                    },
                    {
                       "long_name" : "New York",
                       "short_name" : "NY",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "New York County",
                       "short_name" : "New York County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New York",
                       "short_name" : "NY",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "10025",
                       "short_name" : "10025",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "West 95th Street, New York, NY 10025, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.7958265,
                          "lng" : -73.9651903
                       },
                       "southwest" : {
                          "lat" : 40.7910029,
                          "lng" : -73.9786203
                       }
                    },
                    "location" : {
                       "lat" : 40.7939374,
                       "lng" : -73.9721545
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.7958265,
                          "lng" : -73.9651903
                       },
                       "southwest" : {
                          "lat" : 40.7910029,
                          "lng" : -73.9786203
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJHV9u-if2wokRtus40qszJnE",
                 "types" : [ "route" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "East 95th Street",
                       "short_name" : "E 95th St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Upper East Side",
                       "short_name" : "UES",
                       "types" : [...]
