---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=370%20FORT%20WASHINGTON%20AVENUE,%20Manhattan,%20NY&key=AIzaSyBsVKsp640WcCA0uL9kw1jN6HOb_NIuOEs&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "370",
                       "short_name" : "370",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Fort Washington Avenue",
                       "short_name" : "Fort Washington Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Hudson Heights",
                       "short_name" : "Hudson Heights",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {[...]
