.row.mt
  .col-lg-6.col-md-6.col-sm-12
    .showback
      %h4
        %i.fa.fa-angle-right
        title title
      %p hello!
  .col-lg-6.col-md-6.col-sm-12
    .showback
      %h4
        %i.fa.fa-angle-right
        title title
      %p hello!

