/*
 *
 */

$body-bg: #efefef;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-border-radius: 0px;
$navbar-default-border: 0px;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';


@import './material-design.css';


// gmap

#map-canvas {
  height: 800px;
  margin: 0;
  padding: 0;
}

