%aside
  #sidebar.nav-collapse
    %ul#nav-accordion.sidebar-menu
      %li.mt
        %a{:href => "index.html"}
          %i.fa.fa-dashboard
          %span Dashboard
      %li
        %a{:href => "index.html"}
          %i.fa.fa-cogs
          %span Dashboard


