%header.header.black-bg
  .sidebar-toggle-box
    .fa.fa-bars.tooltips{"data-original-title" => "Toggle Navigation", "data-placement" => "right"}
  .top-menu
    %ul.nav.pull-right.top-menu
      %li
        %a.logout{:href => "login.html"} Logout

