%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{data: {toggle: 'collapse', target: '#top-nav-menu'}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand
        Film Shoots
        = yield :breadcrumb
    #top-nav-menu.collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        %li
          %a{href: root_path}
            %span Data Home

        %li
          %a{href: data_companies_path}
            %span Companies

        %li.active
          %a{href: data_projects_path}
            %span Projects

